@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

/*  */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* color: #FF0035; */
    /* color: #7FB069; */
    color: var(--tertiaryColor);
    
}

:root{
    --primaryColor: rgba(39,37,58,255);
    --secondaryColor : #8f15ec;
    --tertiaryColor: white;
    --fourthColor: #FF0035;
}

html{
    /* background-color: rgb(52, 52, 87); */
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--secondaryColor);
}


.navigation {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid var(--fourthColor);
    position: fixed;
    top: -75px;
    left:-75px;
    background-color: var(--secondaryColor);
    transition: all 0.5s;
    z-index: 9;
}

.activee{
    transform: rotate(-0.25turn);
    background-color: var(--fourthColor);
}


#ham{
    position: absolute;
    top: 64%;
    left : 64%;
    cursor: pointer;
}

#ham a{
    text-decoration: none;
    color: black;
}

#cancle{
    position: absolute;
    top: 64%;
    right : 64%;
    cursor: pointer;
}

#navBar{
    position: absolute;
    top: 40%;
    transition: transform 0.5s;
    z-index: 10;
}

#navBar nav {
    padding: 25px;
}

#navBar nav li {
    padding: 25px 0px 5px 0px;
    list-style: none; 
    margin-left: 0px;
    margin-bottom: 20px;
    color: black;
}

#navBar nav li a{
    text-decoration: none;
    color : black;
}

#navBar nav li + li {
    margin-left: 10px;
}

#navBar nav li + li + li {
    margin-left: 23px;
}

#navBar nav li + li + li +li {
    margin-left: 38px;
}


#navBar nav li a:hover{
    color: white;
    cursor: pointer;
}

.navOff{
    transform: translate(-400px);
}


#borderBright{
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
     border-color: var(--fourthColor);
     z-index: 8;
     pointer-events: none; 
}

.activeBorder{
    border: var(--fourthColor) 2px solid;
}


#mainContent {
    /* background-color: rgb(34, 25, 25);
     */
     /* background: linear-gradient(to top left, rgb(34, 25, 25),  rgb(42, 45, 83));  */
     background-color: var(--primaryColor);
    max-width: 100vw;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    transform-origin: top left;
    transition: transform 0.5s;
}

.mainRotate{
    transform: rotate(-20deg);
    
}

#devInfoContainer{
    /* background-color: blue; */
    /* height: 50vh; */
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

#devInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    width: 350px;
    font-size: 5px;
    
}

#devInfo > div{
    margin: 5px;
}

#devInfo > div:nth-child(1){
    font-family: 'Oswald', sans-serif;
    font-size: 8em;
}

#devInfo > div:nth-child(2){
    font-family: 'Playfair Display', serif;
    font-size: 7em;
}

#devInfo > div:nth-child(2) b{
    color: var(--fourthColor);
    font-size: larger;
    position: relative;
}

#myName::after{
    content: "";
    width: 0%;
    height: 100%;
    background-color: var(--primaryColor);
    border-left: var(--fourthColor) 2px solid ;
    position: absolute;
    animation: typing infinite steps(14) 3s;
}

@keyframes typing{
    0%{
        left: 0%;
        width: 100%;
    }
    33%{
        left: 100%;
        width: 0%;
    }
    100%{

    }
}




#devInfo > div:nth-child(3){
    font-family: 'Dosis', sans-serif;
    font-size: 6em;
}


#downloadCV a{
    text-decoration: none;
    color: black;
}

#devPhoto{
    /* background-color: brown; */
    height: 200px;
}

#devPhoto img{
    height: 100%;
    background-image: linear-gradient(var(--secondaryColor)
, var(--fourthColor));
    border-radius: 50%;
}

#aboutMeContainer{
    margin: 15px 49.673px;
    padding: 0px 50px 50px 50px;
}

#aboutMe, #skillContainer{
    margin-top: 20px;
}


.indivisualSkill{
    margin: 15px;
}

.skillBar{
    background-color: rgb(56, 55, 55);
    /* background: linear-gradient(to top left, rgb(247, 9, 9), rgb(5, 5, 5)); */
    width: 400px;
    height: 10px;
    position: relative;
    border-radius: 10px;
}
.skillPercentage{
    background-color: var(--secondaryColor);
    height: 100%;
    position: absolute;
    border-radius: 10px;
}

@keyframes skillPerAnimate{
    from{
        width: 0%;
    }

    to{
        width: 100%;
    }
}
/* Default Styles Library */
.primaryButton{
    background-color: var(--secondaryColor);
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 8px;
    border-color: var(--secondaryColor);
    padding: 10px;
    text-decoration: none;
}

.primaryButton:hover{
    background-color: black;
    color: white;
    border: 2px solid rgb(0, 255, 0);;
    cursor: pointer;
}


/* Media queries */
@media (max-width: 1130px){
    #sidebar{
        position: absolute;
    }

    
    #devInfoContainer{
        flex-direction: column;
    }

    #devInfo{
        width: 80%;
    }

    #mainContent{
        width: 100vw;
    }

    #aboutMeContainer{
        margin: auto;
    }
}

@media (max-width: 546px) {
    .skillBar{
        width: 230px;
    }

    #devInfo{
        font-size: 3.25px;
    }
    
}