:root{
    --borderColorOne : orange;
    --borderColorTwo : rgb(74, 74, 182);
}

#mainContent{
    justify-content: center;
    flex-direction: column;
}

#mainContent h1 b{
    font-size: larger;
    color: var(--fourthColor);
}

.contentHeading{
    margin-left: 25px;
}



.gallerySection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
}

.sectionItems{
    width: 150px;
    height: 250px;
    border-radius: 2%;
    margin: 25px;
    position: relative;
    transform: rotate(-20deg);
    transition: transform 0.5s;
    
}






.sectionItems:hover{
    transform: scale(1.5) rotate(-90deg);
    transition: all 0.5s;
    z-index: 1;
    cursor:pointer;
}

.sectionItems:hover .projectTitle{
    top: 50%;
    left: 67%;
    transform: rotate(90deg) translateX(-22%); 
    padding-top: 5px;
    border-top: 2px double var(--fourthColor);
}

.projectTitle{
    z-index: 10;
    position: absolute;
    top: -1%;
    left: -1%;
    padding-left: 5px;
    background-color: var(--borderColorOne);
    width: 60%;
    height: 30px;
    border-radius: 2%;
    transition: all 0.5s;
}


.sectionItems:nth-child(2n) .projectTitle{
    background-color: var(--borderColorTwo);
} 


.projectTitle h2{
    font-size: 0.6rem;
    color: var(--fourthColor);
}



.imgOfItems{
    position: absolute;
    top: 17%;
    left: -40%;
    height: 150px;
    width: 250px;
    border-radius: 1%;
    background-origin: left top;
    background-image: url(/Img/placeholder.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    transform: rotate(90deg);
    border: 10px solid var(--borderColorOne);
    
}

.sectionItems:nth-child(2n) .imgOfItems{
    border: 10px solid var(--borderColorTwo);
}










